<?xml version="1.0" encoding="UTF-8"?>
<CERS>
   <DocumentManager>
      <!-- <InputDirectory>D:\old\ding\ping\doc\all</InputDirectory>-->
      <InputDirectory>c:\comkraft\dp\edgar\DEF14A</InputDirectory>
   </DocumentManager>
   <DataManager>
      <Url>jdbc:postgresql://127.0.0.1/cers</Url>
      <Driver>org.postgresql.Driver</Driver>
      <User>cersuser</User>
      <Password>cersuser</Password>
   </DataManager>
   <Titles>
      <Title Position="Chairman of the Board">
         <Alias>Chairman of the Board</Alias>
         <Alias>Chairman of Board of Directors</Alias>
         <Alias>Chairman of the Board of Directors</Alias>
         <Alias>Chairman</Alias>
      </Title>
      <Title Position="President">
        <Alias>"President"</Alias>
      </Title>  
      <Title Position="Chief Executive Officer">
        <Alias>Chief Executive Officer</Alias>
        <Alias>CEO</Alias>
      </Title>
      <Title Position="Vice President">
        <Alias>Vice President</Alias>
        <Alias>VP</Alias>
        <Alias>Senior Vice President</Alias> 
        <Alias>Sr Vice President</Alias> 
        <Alias>Executive Vice President</Alias>
        <Alias>Senior Executive Vice President</Alias>
        <Alias>EVP</Alias>
      </Title>
      <Title Position="Vice Chairman">
        <Alias>Vice Chairman</Alias>
      </Title>
      <Title Position="Chief Financial Officer">
        <Alias>Chief Financial Officer</Alias>  
        <Alias>CFO</Alias>
      </Title>  
      <Title Position="Treasurer">
        <Alias>Tresurer</Alias>
      </Title>
      <Title Position="Director">
        <Alias>Director</Alias>
      </Title>
      <Title Position="Chief Operating Officer">
        <Alias>Chief Operating Officer</Alias>
        <Alias>COO</Alias>
      </Title>
      <Title Position="Chief Marketing Officer">
        <Alias>Chief Marketing Officer</Alias> 
        <Alias>CMO</Alias>
      </Title>
      <Title Position="Secretary">
        <Alias>Secretary</Alias>
      </Title> 
      <Title Position="General Manager">
        <Alias>General Manager</Alias>
        <Alias>GM</Alias>
      </Title>
      <Title Position="Chief Information Officer">
        <Alias>Chief Information Officer</Alias>
        <Alias>Chief Technical Officer</Alias>
        <Alias>Chief Technologist</Alias>
        <Alias>CIO</Alias>
        <Alias>CTO</Alias> 
      </Title>
      <Title Position="General Counsel">
        <Alias>General Counsel</Alias>
      </Title>
      <Title Position="Chief Administrative Officer">
        <Alias>Chief Administrative Officer</Alias>
        <Alias>CAO</Alias>
      </Title>
      <Title Position="Chief Medical Officer">
        <Alias>Chief Medical Officer</Alias>
        <Alias>CMO</Alias>
      </Title>
   </Titles>
</CERS>
